{% block footer %}
<div class="custom-footer">
  <p>© 2025 - Ricardo de Oliveira Nicolau</p>
  <div class="social-links">
    <a href="mailto:ricardo.o.nicolau@gmail.com">
      <span class="md-icon">
        <i class="fa-solid fa-envelope"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/ricardo-oliveira-084147312/">
      <span class="md-icon">
        <i class="fa-brands fa-linkedin"></i>
      </span>
    </a>
    <a href="https://github.com/ricardoOliveiraN">
      <span class="md-icon">
        <i class="fa-brands fa-github"></i>
      </span>
    </a>
  </div>
</div>
{% endblock %}
